.hero-slider {
  width: 100%;
  height: 420px;
  background: #313638;
  overflow: hidden;
  position: relative;

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;

    img {
      width: 100%;
      object-fit: contain;
      transition: transform 0.9s ease-in-out;
    }

    &.active {
      opacity: 1;

      img {
        transform: rotate(10deg) scale(1.2);
      }
    }
  }

  .bullets {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

    .bullet {
      width: 10px;
      height: 10px;
      background-color: #aaa;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &.active {
        background-color: #333;
      }
    }
  }
}
